.container-fluid {
  background-color: #283A2C;
  ;
}
a {
  text-decoration: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 20, 83px;
  color: #FFFFFF;
  font-weight: 700;
}

h4 {
  font: Poppins;
  color: #FFFFFF;
}
#list-contact {
  color: #FFFFFF;
  font-size: 16px;
}
li {
  list-style-type: none;
  font-weight: 500;
}

.bxl-github,
.bxl-instagram-alt,
.bxl-twitter {
  display: flex;
  align-items: center;
  filter: grayscale(1);
  opacity: 0.4;
  list-style: none;
  font-size: 50px;
}
#tr-icon:hover {
  opacity: 1;
  filter: grayscale(0);
  transition: all ease 0.7s;
}
#box-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  padding: 50px;
}
#adjustment {
  padding: 2.8rem;
  margin-left: 20px;
}
