<div class="container-fluid bg-principal" id="sobre">
  <div class="row">
    <div class="col-md-8 bloco1">
      <h1 class="title">SOBRE NÓS</h1>
      <p class="text1">
        A Cativa é um projeto de educação complementar que visa contribuir com a
        democratização e melhoria do ensino brasileiro, com o intuito de agregar
        na educação infantil e juvenil e na amplitude da alfabetização de jovens
        e adultos. Contamos com a contribuição de parceiros e voluntários que
        atuam na área da pedagogia, para juntos fazermos uma educação de
        qualidade para todos!
      </p>
    </div>
    <div class="col-md-4 bloco2 text-center">
      <img
        src="./../../assets/img/paulo-freire.png"
        alt="Paulo Freire montagem"
        class="img-fluid"
      />
      <p>
        “Educação não transforma o mundo. Educação muda as pessoas. Pessoas
        transformam o mundo” - Paulo Freire
      </p>
    </div>
  </div>
</div>

<div class="container-fluid d-flex flex-column align-items-center bg2">
  <h1 class="title text-center">Contra o analfabetismo</h1>
  <p class="text2">
    No Brasil, em 1960, Paulo Freire desenvolveu a metodologia de alfabetização
    que realizou, entre outros feitos, a possibilidade de alfabetizar 300
    cortadores de cana no Rio Grande do Norte em apenas 45 dias.
  </p>

  <p class="text2">
    Paulo Freire ficou conhecido, assim, pelo método de alfabetização para
    adultos que leva seu nome.
  </p>

  <p class="text2">
    Dessa forma, o pensamento pedagógico do educador sempre se assumiu como
    político, uma vez que seus estudos se concentravam nas classes sociais menos
    favorecidas e que, na época, não eram totalmente atendidas pelas escolas
    públicas.
  </p>

  <div class="buttonbackground">
    <a class="nodeco" href="https://pt.wikipedia.org/wiki/M%C3%A9todo_Paulo_Freire" target="_blank"><p class="text3 text-center">saiba mais sobre o método</p></a>
  </div>
</div>
