* {
  font-family: 'Poppins', sans-serif;
  color: #181818;
}

input {
  border: 2px solid #8A71B8;
  border-radius: 25px;
}

h1 {
  color: #8A71B8;
  font-weight: 500;
}

.btn-atualizar {
  border-radius: 25px;
  border: none;
  color: white;
  background: #8A71B8;
  width: 50%;
  height: 40px;
  font-size: 23px;
}

.btn-cancelar {
  border-radius: 25px;
  border: none;
  color: white;
  background: #D44F32;
  width: 50%;
  height: 40px;
  font-size: 23px;
}

.bg-principal{
  background-color: #F3E9D9;
}
