<header>
  <!--Inicio Nav-->
  <nav>
    <ul class="nav-links">
      <li><a href="">Entre em contato</a></li>
      <li><a id="login-tag" routerLink="/cadastrar">Cadastrar</a></li>
    </ul>
  </nav>
</header>

<!--Fim  Nav-->

<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 mt-5 p-5">
          <h1 id="text-home" class="text-center mb-3">Bem Vindo de Volta!</h1>

          <!--paragrafo-->
          <p class="text-center2 mb-4">
            Não tem uma conta ?
            <span
              ><a id="text-p" routerLink="/cadastrar" id="login-tag">
                Cadastrar</a
              ></span
            >
          </p>
          <!--Usuario-->
          <div class="form-group">
            <label for="usuario">Username</label>
            <input

              [(ngModel)]="userLogin.usuario"

              class="form-control mt-2"
              type="text"
              name="usuario"
              id="usuario"
              placeholder="Daniel123@gmail.com"
            />
          </div>

          <!-- Senha-->

          <div class="form-group">
            <label for="usuario">Senha</label>
            <input

              [(ngModel)]="userLogin.senha"

              class="form-control mt-2"
              type="password"
              name="senha"
              id="senha"
              placeholder="Digite sua senha"
            />
          </div>

          <!--LINK DIMISS PASSWORD-->

          <a href="#"
            ><span><a id="login-tag" href="">Esqueceu a senha ? </a></span></a
          >

          <!--Fim LINK DIMISS PASSWORD-->

          <!--Button-->
          <div class="d-flex justify-content-center mt-4">

            <a class="btn-btn-login login mt-4" href="#" (click)="entrar()"
              >Login</a>

          </div>
          <!--Fim Button-->

          <hr class="mt-4" />
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-5">
      <img src="../../assets/img/login.svg" alt="" />
    </div>
  </div>
</div>
