* {
  font-family: "Poppins", sans-serif;
  color: #181818;
}

.bg-fundo {
  background-color: #fffcf7;
}

.bg-branco {
  background-color: white;
}

input {
  border: 2px solid #8a71b8;
  border-radius: 10px;
}

h1 {
  color: #8a71b8;
  font-weight: 700;
  font-size: 30px;
}

h5 {
  font-weight: 300;
  font-size: 24px;
}

.btn-cadastrar {
  border-radius: 25px;
  border: none;
  color: white;
  background: #8a71b8;
  width: 150px;
  height: 50px ;
  font-size: 25px;
}

.btn-cancelar {
  border-radius: 25px;
  border: none;
  color: white;
  background: #d44f32;
  width: 50%;
}

.full-width {
  min-height: 100vh;
}

.bg-logar {
  color: #547131;
}
