<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 class="text-center mb-3">Entrar</h1>

          <!--Usuario-->
          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input
              class="form-control"
              type="text"
              name="usuario"
              id="usuario"
              placeholder="Digite seu nome"
            />
          </div>

          <!--Senha-->

          <div class="form-group">
            <label for="usuario">Senha</label>
            <input
              class="form-control"
              type="password"
              name="senha"
              id="senha"
              placeholder="Digite sua senha"
            />
          </div>

          <!--Button-->
          <div class="d-flex justify-content-center">
            <button class="btn btn-success">Login</button>
          </div>

          <hr class="mt-5 mb-5" />
          <!--paragrafo-->
          <p class="text-center">
            Não tem uma conta ? <a href="#">Cadastre-se</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="img-bg"></div>
  </div>
</div>
