<!--menu-->

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="navbar-brand px-5" routerLink="/inicio">
          <img src="../../assets/icons/logo-v3.svg" width="150" height="70" alt="">
        </a>
      </div>
    </div>
  </div>

  <!--botão quebra de tela-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--/botão quebra de tela-->

  <div class="container justify-content-end">
    <div class="row ">
      <div class="col mr-2">
        <div class="collapse navbar-collapse " id="navbarNav">


          <ul class="navbar-nav d-flex align-items-center ">

            <li class="nav-item active">
              <a class="nav-link px-4" routerLink="/inicio">
                <p class="cor-da-fonte dmsans">Início</p>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link px-4 " routerLink='/tema'>
                <p class="cor-da-fonte dmsans">Temas</p>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link px-4 " href="#">
                <p class="cor-da-fonte dmsans">Contato</p>
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link px-4" (click)='sair()' routerLink="/landingPage">
                <img src="../../assets/icons/sair.svg" width="120" height="" alt="">
              </a>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>


<!--/menu-->
