@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
}
.dmsans {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
p {
  color: #547131;
}
p:hover {
  color: #d44f32;
}

.bg-menu {
  background-color: #faf2e5;
}
