@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.principal{
    background-color: #FAE5E5;
}

#mainpurplebutton{
    background-color: #8A71B8;
    color: #F9F9F9;
    width: 184px;
    height: 70px;
    align-self: start;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 40px;
}

.fs-24{
    font-size: 24px;
}

.poppins{
    font-family: 'Poppins', sans-serif;
    color: #5B822B;
}

.dmsans{
    font-family: 'DM Sans', sans-serif;
    color: gray;
} 

.title{
    font-size: 80px;
    margin-bottom: 40px;
}

.desc{
    font-size: 24px;
}

.mainimg{
    max-height: 800px;
}

.paddingrow{
    padding-top: 30px;
    padding-bottom: 30px;
}

.mainbox{
    padding-top: 110px;
    padding-bottom: 50px;
}