<div class="container-fluid w-100 m-0 principal">
    <div class="row paddingrow">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="mainbox pl-5">
          <h1 class="text-start poppins title">
            Educação de qualidade e acessível
          </h1>
          <p class="text-start dmsans">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus.
          </p>
          <button type="button" class="btn poppins fs-24" id="mainpurplebutton">
            Saiba mais
          </button>
        </div>
      </div>
  
      <div class="col-md-6 d-flex justify-content-start mainimg">
        <img
          src="../../assets/img/selection-1.svg"
          alt="livro"
          class="img-fluid"
        />
      </div>
    </div>
  </div>