<div class="container-fluid w-100 m-0 principal">
    <div class="row paddingrow">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="mainbox pl-5">
          <h1 class="text-start poppins">
            Educação de qualidade e acessível
          </h1>
          <p class="text-start dmsans">
            'Lorem ipsum' to fill your text layers with dummy text. Lorem ipsum '
            for then.
          </p>
          <button type="button" class="btn" id="maingreenbutton">
            Saiba mais
          </button>
        </div>
      </div>
  
      <div class="col-md-6 d-flex justify-content-start">
        <img
          src="https://cdn.discordapp.com/attachments/932956654310424619/933729738969739264/livro.png"
          alt="livro"
          class="img-fluid"
        />
      </div>
    </div>
  </div>