@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.principal{
    background-color: #faf2e5;
}

#mainpurplebutton{
    background-color: #8A71B8;
    color: #F9F9F9;
    width: 184px;
    height: 60px;
    align-self: start;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
}

.fs-24{
    font-size: 24px;
}

.fs-color{
  color: #8A71B8;
}

.poppins{
    font-family: 'Poppins', sans-serif;
    color: #5B822B;
    font-weight: bold;
}

.Montserrat{
  font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: x-large;
}

.title{
    font-size: 80px;
    margin-bottom: 40px;
}

.desc{
    font-size: 24px;
}

.mainimg{
    max-height: 800px;
    padding: 40px;
}

.paddingrow{
    padding-top: 30px;
    padding-bottom: 30px;
}

.mainbox{
    padding-top: 110px;
    padding-bottom: 50px;
}
