<!--menu-->
<app-menu></app-menu>
<!--/menu-->

<!--section1-->
<div class="container-fluid w-100 m-0 principal">
  <div class="row paddingrow">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="mainbox pl-5">
        <h1 class="text-start poppins title">
          Educação de qualidade e acessível
        </h1>

        <p class="text-start Montserrat">
          Uma aplicação Edu<span class="fs-color">cativa</span>,
          <br> democrática e amigável
          <br> pela melhoria do ensino.
        </p>
        <button type="button" class="btn poppins fs-24" id="mainpurplebutton" routerLink="/sobre">
          Saiba mais
        </button>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-start mainimg">
      <img src="../../assets/img/selection-1.svg" alt="livro" class="img-fluid" />
    </div>
  </div>
</div>
<!--/section1-->

<!--sobre-->
<app-sobre></app-sobre>
<!--/sobre-->

<!--time-->

<!--/time-->
<app-time></app-time>
<!--footer-->
<app-footer></app-footer>
<!--/footer-->
