<div class="container-fluid card-deck justify-content-center">
  <div class="row p-3">
    <div class="card">
      <img src="../../assets/img/tema-portugues.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Português</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/tema-matematica.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Matemática</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/tema-ciencia.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ciências</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/tema-biologia.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Biologia</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="row p-3">
    <div class="card">
      <img src="../../assets/img/tema-programacao.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Programação</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/tema-financa.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Finanças</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/tema-games.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Games</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/tema-curiosidade.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Curiosidades</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
