<body>
  <section class="py-5 bg-principal text-center">
    <div class="container">
        <span class="toptext text-center">Envolvidos no projeto </span>
        <h2 class="title">Nosso time de desenvolvedores</h2>
      <div class="row">
        <div class="col-xl-4">
          <div class="foto d-flex justify-content-center">
            <img src="../../assets/img/hercules_novo.png" alt="" />
          </div>
          <h3>Hercules Santos</h3>
          <p class="text-justify">
            Estudante de desenvolvimento Fullstack Java pela Generation
            Brasil. Venho me desenvolvendo tecnicamente, escrevendo artigos e
            criando projetos. Membro ativo da Sonhar Sem Fronteiras, onde faço
            atividades voluntárias voltadas a programação básica.
          </p>
          <div>
            <a href="https://www.linkedin.com/in/herculesrochasantos/" target="_blank" class="card-link"><i class="bx bxl-linkedin-square"></i></a>
            <a href="https://github.com/herculesdevbr" target="_blank" class="card-link"><i class="bx bxl-github"></i></a>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="foto d-flex justify-content-center">
            <div class="circulo">
              <img src="../../assets/img/mari_novo.png" alt="" />
            </div>
          </div>
          <h3>Mariana Nogueira</h3>
          <p class="text-center">
            Sou formada em Design gráfico e também tenho curso técnico em
            informática, foi onde eu tive meu primeiro contato com a
            programação e me encantei. Nesse curso, pude aprender lógica de
            programação, HTML, CSS e a linguagem Java.
          </p>
          <div>
            <a href="https://www.linkedin.com/in/mariana-nogueira-de-carvalho-0aa954209/" target="_blank" class="card-link"><i class="bx bxl-linkedin-square"></i></a>
            <a href="https://github.com/mariana-nogueira21" target="_blank" class="card-link"><i class="bx bxl-github"></i></a>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="foto d-flex justify-content-center">
            <img src="../../assets/img/rafa_novo.png" alt="" />
          </div>
          <h3>Rafael Borges</h3>
          <p class="text-center">
            Entusiasta em tecnologia, apaixonado por Design e desenvolvedor
            Front-End Júnior pela Generation Brasil. Amo nossa cultura, rica
            em sabores, cores e tons. Levo comigo uma bagagem de conhecimentos
            técnicos e soft skills aprimoradas!
          </p>
          <div>
            <a href="https://www.linkedin.com/in/okborges" target="_blank" class="card-link"><i class="bx bxl-linkedin-square"></i></a>
            <a href="https://github.com/okborges" target="_blank" class="card-link"><i class="bx bxl-github"></i></a>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="col-xl-4">
          <div class="foto d-flex justify-content-center">
            <img src="../../assets/img/murilo_novo.png" alt="" />
          </div>
          <h3>Murilo Augusto</h3>
          <p class="text-center">
            Técnico em mecatrônica e certificado em suporte em TI, possuo uma
            longa trajetória em contato com tecnologias. Tenho grande
            facilidade em assimilar novos conteúdos e sinto imenso prazer em
            programar e aprender mais dia após dia.
          </p>
          <div>
            <a href="https://www.linkedin.com/in/murilo-augusto-4781aa218" target="_blank" class="card-link"><i class="bx bxl-linkedin-square"></i></a>
            <a href="https://github.com/MuriloAugusto1" target="_blank" class="card-link"><i class="bx bxl-github"></i></a>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="foto d-flex justify-content-center">
            <img src="../../assets/img/vivi_novo.png" alt="" />
          </div>
          <h3>Vivian Santana</h3>
          <p class="text-center">
            Estou iniciando na área da tecnologia, me interesso em aprender
            coisas novas e gosto muito de criar. Ver um projeto nascer e
            participar de seu desenvolvimento do início ao fim é o que mais me
            atrai e me motiva.
          </p>
          <div>
            <a href="https://www.linkedin.com/in/vivian-s-5723841a3/" target="_blank" class="card-link"><i class="bx bxl-linkedin-square"></i></a>
            <a href="https://github.com/Vivian-Santana" target="_blank" class="card-link">
              <i class="bx bxl-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>