@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%22");

* {
  font-family: "Poppins";
}

.foto img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h3{
  color: #51735F;
  margin-bottom: 20px;
}

p{
  font-size: 18px;
  height: 216px;
  color: #B45F00;
}

.title{
  font-size: 48px;
  color: #51735F;
  margin-top: 30px;
  margin-bottom: 50px;
}

.bx.bxl-github {
  font-size: 40px;
  color: #547131;
}

.bx.bxl-linkedin-square {
  font-size: 40px;
  color: #547131;
}

.bg-principal{
  background-color: #F3E9D9;
}

.toptext{
  font-size: 24px;
  color: #547131;
}