<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="time.component.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <section class="py-5 bg-light text-center">
      <div class="container">
        <div class="my-5">
          <span class="h6 d-block">Envolvidos no projeto </span>
          <h2 class="display-4 text-success">Nosso time de desenvolvedores</h2>
        </div>
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="foto d-flex justify-content-center">
              <img src="../../assets/img/hercules.jpg" alt="" />
            </div>
            <h3>Hercules Santos</h3>
            <p>
              Estudante de desenvolvimento fullstack Java pela generation
              brasil.Venho me desenvolvendo tecnicamente e escrevendo artigos e
              criando projetos.Membro ativo da Sonhar sem Fronteiras, onde faço
              atividades voluntarias voltadas a programação basica
            </p>
          </div>

          <div class="col-xl-4 col-md-6">
            <div class="foto d-flex justify-content-center">
              <div class="circulo">
                <img src="../../assets/img/mariana.jpeg" alt="" />
              </div>
            </div>
            <h3>Mariana Nogueira</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae nulla reprehenderit, aliquam, dicta enim magni unde
              veritatis qui nam voluptas nihil omnis est eum perferendis nostrum
              cumque sit. Accusantium, tempore.
            </p>
          </div>

          <div class="col-xl-4 col-md-6">
            <div class="foto d-flex justify-content-center">
              <img src="../../assets/img/perfil.jpg" alt="" />
            </div>
            <h3>Rafael Borges</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae nulla reprehenderit, aliquam, dicta enim magni unde
              veritatis qui nam voluptas nihil omnis est eum perferendis nostrum
              cumque sit. Accusantium, tempore.
            </p>
          </div>

          <div class="col-xl-4 col-md-6">
            <div class="foto d-flex justify-content-center">
              <img src="../../assets/img/murilo.jpg" alt="" />
            </div>
            <h3>Murilo Augusto</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae nulla reprehenderit, aliquam, dicta enim magni unde
              veritatis qui nam voluptas nihil omnis est eum perferendis nostrum
              cumque sit. Accusantium, tempore.
            </p>
          </div>

          <div class="col-xl-4 col-md-6">
            <div class="foto d-flex justify-content-center">
              <img src="../../assets/img/Vivian.jpg" alt="" />
            </div>
            <h3>Vivian Santana</h3>
            <p>
              Estou iniciando na área da tecnologia, me interesso em aprender
              coisas novas, gosto muito de criar, ver um projeto nascer e
              participar de seu desenvolvimento do início ao fim é o que mais me
              atrai e me motiva.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>