@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%22");

* {
  font-family: "Poppins";
}

.foto img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
p {
  text-align: justify;
}