@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%22");

* {
  font-family: "Poppins";
}

.foto img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
p {
  text-align: justify;
}

.bx.bxl-github{
  font-size: 30px;
  color: rgba(103, 23, 179, 0.945);
 }
 .bx.bxl-linkedin-square{
  font-size: 30px;
  color: rgba(103, 23, 179, 0.945);
 }

/*#div1 { /*imagem de fundo*
  background: url(../../assets/img/logo_cativa.png);
  background-size: contain;
  background-repeat: no-repeat;
}*/