<div class="contaniner">

    <div class="row justify-content-center">
        <div class="my-5">

            <h2 class="display-4 text-success">Apoie-nos</h2>
            <span class="h6 d-block">Preencha o formulário e junte-se a nós para transformar a educação!</span>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Qual é a sua formação e área de
                    atuação?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea3" class="form-label">Como você pode nos ajudar?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="button" class="btn btn-outline-success">Enviar</button>

        </div>
    </div>
</div>