<body class="bg-light">
  <div class="container ">
    <div class="text-center my-5">
      <h1>Postagens</h1>
      <hr />
    </div>
    <div class="">

      <div class="row">
        <div class="col-lg-4 ">
          <div class="card mb-5 shadow-sm borda">
            <img src="../../assets/img/videogame-8bits.jpg" class="img-fluid rounded-top" />

            <div class="card-body">
              <div class="card-title">
                <h2>como começar a programar um jogo</h2>
              </div>
              <div class="card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti corporis quis ab. Exercitationem et quibusdam
                  impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                  maxime facere, quod harum aliquid in...
                </p>
              </div>
              <a href="#"><img src="../../assets/icons/ler mais.svg" width="120px"></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 ">
          <div class="card mb-5 shadow-sm borda">
            <img src="../../assets/img/top-10-books-every-college-student-read-1024x640-1.jpeg" class="img-fluid rounded-top" />

            <div class="card-body">
              <div class="card-title">
                <h2>The books on de table</h2>
              </div>
              <div class="card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti corporis quis ab. Exercitationem et quibusdam
                  impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                  maxime facere, quod harum aliquid in...
                </p>
              </div>
              <a href="#"><img src="../../assets/icons/ler mais.svg" width="120px"></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 shadow-sm borda">
            <img src="../../assets/img/baleia-branca-191496770.jpg" class="img-fluid img-fluid rounded-top" />

            <div class="card-body">
              <div class="card-title">
                <h2>Como cuidar de uma baleia</h2>
              </div>
              <div class="card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti corporis quis ab. Exercitationem et quibusdam
                  impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                  maxime facere, quod harum aliquid in...
                </p>
              </div>
              <a href="#"><img src="../../assets/icons/ler mais.svg" width="120px"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
