/* Perfil do usuário */
.nome-usuario {
  font-size: 20px;
}

.btn-postagem {
  border-radius: 25px;
  border: none;
  color: white;
  background: #8a71b8;
}

.img-perfil {
  transition: all 0.5s;
  cursor: pointer;
}

.img-perfil:hover {
  filter: opacity(50%);
}
.perfil:hover .btn-editar {
  display: block;
}

.nodeco {
  text-decoration: none;
  cursor: pointer;
}

#mainpurplebutton {
  background-color: #8a71b8;
  color: #f9f9f9;
  width: 158px;
  height: 44px;
  align-self: start;
  border-radius: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.fs-16 {
  font-size: 16px;
}

.poppins {
  font-family: "Poppins", sans-serif;
  color: #5b822b;
  font-weight: bold;
}

.bg-temas {
  background: #f3e9d9;
  /*cor pra ficar tudo uniforme = #F3E9D9*/
}

.bg-postagem {
  background-color: #faf2e5;
}

.fixed {
  position: sticky;
  top: 50px;
}

.p-ajuste {
  padding-left: 400px;
}

.p-ajuste-postagens {
  padding-left: 260px;
}

.line {
  border-left: 900px solid rgba(71, 71, 71, 0.500);
  height: 1px;
  margin-left: 17px;
}

.bg-card{
  background-color: white;
  border-radius: 20px;
  width: 70%;
  height: 390px;
}
