<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 bg-rosa">
      <!-- perfil do usuario -->
      <div class="col text-center pt-4">
        <div class="perfil">
          <a [routerLink]="['/user-edit', id]">
            <img src="{{foto}}" alt="Imagem do user" width="200px" height="200px" class="img-fluid rounded-circle img-perfil">
          </a>
          <span class="btn-editar">Editar</span>
        </div>

        <p class="mt-3 nome-usuario">{{nome}}</p>
        <p>{{tipo}}</p>
        <!--botão Cadastrar Nova Postagem-->
        <button class="btn btn-secondary text-center btn-postagem" data-toggle="modal" data-target="#exampleModal">
          Nova Postagem
        </button>
        <!--/botão-->
      </div>
      <!--/ perfil do usuario -->
    </div>



    <div class="col-lg bg-rosa">
      <div class="container-fluid card-deck justify-content-start m-0">
        <!-- Cards das materias -->
        <div class="row p-3 text-center">

          <div class="card">
            <img src="../../assets/img/tema-portugues.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Português</h5>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/img/tema-matematica.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Matemática</h5>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/img/tema-ciencia.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ciências</h5>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/img/tema-biologia.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Biologia</h5>
            </div>
          </div>
        </div>
        <div class="row p-3 text-center">
          <div class="card">
            <img src="../../assets/img/tema-programacao.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Programação</h5>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/img/tema-financa.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Finanças</h5>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/img/tema-games copy.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Games</h5>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/img/tema-curiosidade.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Curiosidades</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-4 ml-2">
        <a class="ver-postagens" routerLink='/tema'>Ver todas as máterias cadastradas</a>
      </div>
    </div>
  </div>
  <!--/card de temas-->

  <div class="row">
    <div class="col-lg-3 ">
    </div>

    <div class="col-lg ">
      <!--Cards de postagem-->
      <h1 class="fs-54 text-start my-5 ml-4">Todas as Postagens</h1>
      <div class="container d-flex justify-content-start m-3">
        <div class="flex-column-reverse">

          <div class="card mb-3 shadow mb-5" style="max-width: 900px;" *ngFor='let item of listaPostagens'>
            <div class="row no-gutters">

              <div class="col-md-10 card-header bg-white d-flex align-items-center ">
                <img class="rounded-circle ml-3" src="{{item.usuario.foto}}" alt="" width="60px">
                <p class="mt-3 ml-3">{{item.usuario.nome}} | {{item.usuario.tipo}}</p>

              </div>
              <div class="col-md-2 card-header bg-white rounded-right border-left">
                <p class="font-weight-bolder d-flex mt-3 justify-content-center">{{item.tema.assunto}}</p>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">{{item.titulo}}</h5>
                  <p class="card-text">{{item.texto}}</p>
                </div>
              </div>
              <div class="col-md-5 pt-5 pr-3 pb-3">
                <img src="../../assets/img/tema-ciencia.png" class="w-100  rounded-lg" alt="...">
              </div>
              <div class="col-md-7 border-top">
                <p class="card-text m-3"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</small></p>
              </div>
              <div class="col-md-5 d-flex justify-content-end border-top">
                <a class="mt-3 mr-1" [routerLink]="['/postagem-edit', item.id]">
                  <img src="../../assets/icons/editar.svg" alt="">
                </a>
                <a class="m-3 ml-2" [routerLink]="['/postagem-delete', item.id]">
                  <img src="../../assets/icons/deletar.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/Cards de postagem-->
    </div>
  </div>



</div>



















<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo" placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]="postagem.texto" class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Escolha um tema ou <a data-dismiss="modal" data-target="#my-modal" routerLink="/tema">cadastre um novo</a>:
          </label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaMaterias' value='{{item.id}}'>{{item.assunto}}</option>
          </select>
        </div>

        <div class="modal-footer pt-3 pb-0">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- /Modal -->
