/* Perfil do usuário */
.nome-usuario {
  font-size: 20px;
}

.btn-postagem {
  border-radius: 25px;
  border: none;
  color: white;
  background: #8a71b8;
}

.img-perfil {
  transition: all 0.5s;
  cursor: pointer;
}

.img-perfil:hover {
  transform: scale(1.1);
  filter: opacity(50%);
}
.perfil:hover .btn-editar {
  display: block;
}

.nodeco {
  text-decoration: none;
  cursor: pointer;
}

.btn-editar {
  display: none;
  color: rgb(44, 44, 44);
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: -4em;
  left: 0.5em;
}

#mainpurplebutton {
  background-color: #8a71b8;
  color: #f9f9f9;
  width: 158px;
  height: 44px;
  align-self: start;
  margin-top: 50px;
  margin-bottom: 43px;
  border-radius: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.fs-16 {
  font-size: 16px;
}

.poppins {
  font-family: "Poppins", sans-serif;
  color: #5b822b;
  font-weight: bold;
}

.bg-temas {
  background-color: #f3e9d9;
}

.bg-postagem {
  background-color: #faf2e5;
}

.fixed {
  position: fixed;
  left: 36.5px;
}
